/* CSS Document */
nav ul {
	margin:0;
	padding:0;	
}

nav ul li {
	list-style-type:none;
	float:left;
	display:block;
	width:150px;
	height:60px;
	text-align:center;
	line-height:55px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:17px;
}

nav ul li a {
	text-decoration:none;
	color:#FFFFFF;
}

nav ul li:Hover {
	border-top:3px solid #000000;
	background-color:#2A78E3;
}

nav a {
	display:block;
}

nav ul ul {
	display:none;
}

nav ul li:Hover > ul {
	display:block;
}

nav ul ul li {
	width:150px;
	height:40px;
	line-height:40px;
	background-color:#1AC2E5;
}

nav ul ul li:Hover {
	border-top:0px solid #000000;
	border-bottom:3px solid #000000;
	background-color:#006894;
}

